h1,
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Algorithm Picker */
.sortingContainer {
  background-color: #2e8fff;
  display: flex;
  flex-direction: row;
}

.algobutton button {
  background-color: transparent;
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:focus {
  outline: none;
}

.algobutton {
  width: 150px;
  text-align: center;
}
.algobuttonFocus {
  background-color: #1272e0;
}

/* Visualizer */
.visualContainer {
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.bar {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #a1e9ff;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.bar h1 {
  color: white;
}

/* List Input */
.listinput {
  height: 50px;
  background-color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.listinput input {
  font-size: 24px;
  color: lightgray;
  border: transparent;
}

.listinput input:focus {
  outline: none;
}

.textAndConfirm {
  display: flex;
  flex-direction: row;
}

.error {
  color: red;
  padding-left: 20px;
}

.listinput button {
  color: lightgray;
  background-color: #333333;
  font-size: 20px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Controller */
.controller {
  background-color: #666666;
  height: 75px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}

.speedbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.speedbar p {
  color: white;
}

.speedContainer {
  width: 100px;
  height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: #333333;
}

.speedController {
  height: 10px;
  width: 15px;
  cursor: pointer;
  background-color: #a1e9ff;
}

/* Progress bar */
.progressbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.progressbar button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.progressContainer {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.progressController {
  position: absolute;
}

.prevContainer {
  background-color: white;
  height: 10px;
  position: absolute;
}

/*
COLOR PALETTE
BLUE LIGHT #a1e9ff
YELLOW #ffad42
RED #ff6969
GREEN #61ff59 

*/
